RewriteEngine on

# Direct file requests for Local files to localfile.php
RewriteRule ^file/ localfile.php [last]

# All others to the main bootstrap
RewriteRule !\.(eot|svg|ttf|woff|woff2|xml|php|json|js|jar|ico|png|gif|jpg|css|swf|txt|mp3|rdf|map|pdf|doc)$ index.php [last]

<FilesMatch "\.(svg|ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|woff|woff2)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
<IfModule mod_deflate.c>
AddType image/svg+xml svg svgz
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript image/svg+xml
</IfModule>

