{% extends 'page.twig' %}
{% block extracss %}
{% endblock %}

{% block main %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="row">
                <h2>{{data.programNumberImported}} programs were imported</h2>
                <h2>{{data.scheduleNumberImported}} schedules were imported</h2>
                <a href="/" class="button">Close</a>
            </div>
        </div>
    </div>    
{% endblock %}      
